POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=solar_irradiance_db
POSTGRES_USER=solar_tfm_user
POSTGRES_PASSWORD=your_password
POSTGRES_SCHEMA=solar

MONGODB_URI=mongodb+srv://solar_tfm_user:TU_PASSWORD@TU_CLUSTER.mongodb.net/?retryWrites=true&w=majority
MONGODB_DATABASE=solar_irradiance_db